node_modules
coverage
dist/lib/test/*
dist/docs/*
.nyc_output
.DS_Store
*.log
.vscode
.idea
compiled
src
tools
dist/docs
.awcache
tslint.json
rollup.config.ts
.travis.yml
.editorconfig
.all-contributorsrc
.test.*
